// Variable overrides

$font-family-base: "Quicksand", sans-serif;
$font-family-secondary: "marydale";

$white: #fff !default;
$black: #000015 !default;

$primary-dark: #2b3664 !default;
// $primary: #5063ee !default;
$primary: #0077c8 !default;
$primary-light: #6078fd !default;

$secondary-dark: #616161 !default;
$secondary: #535151 !important;

$secondary-50: #9da5b1 !default;
$secondary-25: #616161 !default;

$success-dark: #5063ee !default;
$success: #5063ee !default;

$main-blue: #5063ee;

$bg-blue: #316ec9 !default;

$text-dark: #707070;
$text-grey: #757575;

$yellow-button: #ffd565;
$red-button: #e55353;
$red-dropped: #f4b9b9;
$green-button: #00ac91;

$nav-active: #0077C8;
