.date-range-input {
    border: 1px solid rgb(226, 232, 240);
    padding: 8px 14px;
    display: flex;
    justify-content: space-between;
}

.rdrDateRangePickerWrapper {
    border: 1px solid rgb(226, 232, 240);
}